modules = ["web", "python-3.12"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Flask"

[[workflows.workflow]]
name = "Run"
author = 40440454

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Flask"
author = 40440454

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
